<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
  <form action="/words" method="post">
    <input type="text" name="word" placeholder="lemon">
    <input type="submit" value="Отправить">
  </form>
</div>
